body {
    background: linear-gradient( #bbb, transparent 1px), linear-gradient( 90deg, #bbb, transparent 1px);
    background-size: 15px 15px;
    background-position: center center;
}

.list__body-item {
    display: flex;
    list-style: none;
}

.checkbox,.title {
    background-color: #fff;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    text-transform: uppercase;
    text-align: left;
    cursor: pointer;
}

.checkbox {
    height: 20px;
    width: 15px;
}

.checkbox__done {
    background-color: green;
} 

.red {
    background-color: red;
}